@charset "UTF=8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(124, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(28, 180, 180);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(22, 121, 121)
}